@import "vars";
html, body{
  min-height: 100vh;
}
*{
  box-sizing: border-box;

}
body{
  margin: 0;
  padding: 0;
  background: #fff asset-url('bg.png');
  font-weight: 200;
  font-size: 14px;
  font-family: "Gotham Pro", sans-serif;
}
img.home-grid__image {
  width: 82px;
  height: 58px!important;
  align-self: center;
  padding-right: 22px;
}
.container{
  max-width: 1200px;
  margin: auto;
  position: relative;
  &-min{
    max-width: 400px;
    margin: auto;
    position: relative;
  }
}
.part{
  display: flex;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
  align-items: center;
  .uk-card-body{
    display: flex;
    flex: 1;
    padding: 25px;
    align-self: normal;
  }
  &__image{ max-width: 120px!important; margin-left: 30px; border-radius: 6px;}
  &__info{
    padding: 0 40px 0 0;
    flex: 0 0 25%;
  }
  &__title{
    margin-top: 0!important;
    font-size: 13px!important;
    margin-bottom: 5px!important;
    font-weight: 300;
  }
  &__title, &__model, &__manufacturer{
    margin: 0.4em 0;
  }
  &__manufacturer{
    text-align: left;
    font-weight: 200;
    font-size: 10px;
    margin-top: 0;
    color: #949494;
  }
  &__model{
    font-size: 12px;
    margin-left: 15px;
    font-weight: 300;
  }
  .flex-equal{
    display: flex;
    align-items: center;
  }
  &__table{
    flex: 0 0 45%;
    text-align: left;
    caption{
      text-align: left;
      font-weight: 300;
      font-size: 12px;
      padding-bottom: 5px;
    }
    th{
      font-size: 12px;
      font-weight: 300;
      padding-right: 30px;
      padding-left: 0!important;
    }
    td{
      word-break: break-all;
      font-size: 12px;
    }
  }
  &__cost--wrapper{
    flex: 0 0 30%;
    text-align: right;
    align-self: flex-end;}
  &__cost{
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 400;
  }
  &__buy{
    padding: 20px 40px;
    font-size: 0.9em;
  }
  &__more{
    margin-right: 5px!important;
  }
}
.table-part.uk-table th{
  font-size: 11px;
  font-weight: 300;
  vertical-align: top;
  color: #151515;
}
.table-part.uk-table td{
  font-size: 12px;
}
.table-part.uk-table caption{
  font-size: 12px;
  padding-bottom: 10px;
}
.reply{
  border-left: 2px solid #9a9a9a;
  padding-left: 15px;
  p{
    margin-top: 0;
  }
}
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}
.current{
  color: #fff;
  font-style: normal;
  font-weight: 300;
  background: #282828;
  padding: 5px 10px;
  border-radius: 11px;
}
.header-nav{
  background: #fff;
  border-top: 1px solid #f3f3f3;
  .uk-navbar{
    margin: 0 -15px;
  }
  a{
    font-size: 13px;
    position: relative;
    font-weight: 300;
    padding: 20px 15px;
    &::after{
      content: '';
      display: block;
      width: 0%;
      height: 3px;
      background: #FF5722;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: width $transition;
      will-change: width;
    }
    &:hover, &.active{
      text-decoration: none;
      &::after{
        width: 100%;
      }
    }
  }
}
.notice{
  margin: 10px auto;
  .uk-alert-close{
    left: auto!important;
  }
}
.color-cube{
  background-color: #000;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
}
.flex{ display: flex; }
.part-search__common{
  padding: 10px;
  background: asset-url('pattern.png'), #f7f7f7;
  box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.05);
  background-size: 17%;
  background-position: center 42px;
}
.title{
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 1px 1px #fff;
}


// Admin
.admin{
  &-header{
    color: #fff;
    background-color: #fff;
    a{
      color: #000!important;
    }
    a:hover{
      color: #00a151!important;
    }
  }
  &-wrapper{
    display: flex;
    align-items: flex-start;
  }
  tbody.uk-card-default{
    background: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
  }
  th, td{
    text-align: center!important;
  }
  &-sidebar{
    flex: 0 0 250px;
    max-width: 250px;
    margin-top: 20px;
    border-radius: 5px;
    background: #fff;
    padding: 26px;
    box-shadow: 0 3px 4px rgba(0,0,0,.03);
    transition: box-shadow $transition;
    &__title{
      font-weight: 200;
      font-size: 17px;
      color: #7d7d7d;
      text-shadow: 0 1px 2px #fff;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 9px;
      box-shadow: 0 1px 0 #f7f7f7;
      margin-bottom: 0;
    }
    &__subtitle{
      font-size: 17px;
      text-shadow: 0 1px 2px #fff;
      margin: 0 0 5px;
      font-weight: 300;
      color: #000;
    }
    &__navbar{
      margin-bottom: 10px;
    }
    &__nav{
      display: block;
      padding: 4px 10px!important;
      color:  #000;
    }
  }
  &-page{
    flex: 1;
    padding: 20px 30px;
  }
  &-title{
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    padding: 20px;
  }
  &-control{
    &__button{
      padding: 5px 7px;
      border-radius: 100px;
      outline: none;
      margin-left: 10px;
      font-size: 12px;
    }
  }
  &-options{
    td{
      vertical-align: middle!important;
    }
  }
}
.login{
  padding: 50px 20px;
}
.advanced-search{
  flex: 0 0 300px;
  margin-top: 40px;
  background: #f5f5f5;
  border-radius: 5px;
  transition: box-shadow $transition;
  .uk-card-body{
    padding: 30px!important;
  }
  &[new]{
    h1.uk-card-title{
      font-size: 15px;
      text-align: center;
      padding-top: 20px;
      border-bottom: 1px solid #f3f3f3;
      margin: 0;
      padding-bottom: 20px;
    }
    h3.uk-card-title{
      font-size: 14px;
      margin-bottom: 10px;
      text-align: center;
    }
    .uk-slider{
      border-bottom: 1px solid #f3f3f3;
    }
    .new-card__image{
      border-radius: 7px;
    }
    .new-card__content{
      font-size: 13px;
      margin: 10px 0;
      text-align: center;
    }
    .uk-card-body{
      padding: 20px!important;
    }
  }
}
.header-static{
  padding: 20px 0;
  background: #fff;
  background-size: cover;
  .uk-flex{
    align-items: center;
  }
}
.counter{
  display: inline-block;
  margin-left: 5px;
  vertical-align: initial;
  padding: 1px 10px;
  background: #009688;
  border-radius: 10px;
  color: #fff;
  line-height: 23px;
}
.announcement{
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-family: inherit;
  font-weight: 200;
  color: #7b7b7b;
  background: #f5f5f5;
}
.header{
  &__contacts{
    flex: 1;
    text-align: right;
    span{
      color: #636363;
      font-size: 15px;
      font-weight: 300;
    }
  }
  &__phone{
    margin: 2px 0;
    font-size: 17px;
    font-weight: 300;
    a{
      color: #ff503b;
      &:hover{
        color: darkred;
      }
    }

  }
  &__adress{
    flex: 1;
    p{
      margin: 0;
      color: #636363;
      font-size: 13px;
      text-align: right;
    }
  }
  &__social{
    padding-left: 20px;
    img{
      width: 30px;
      margin: 5px;
      height: 30px;
      transition: transform 0.2s;
      &:hover{
        transform: scale(1.1) rotate(-5deg);
      }
      &:active{
        transform: scale(1) rotate(0deg);
      }
    }
  }
}
label.required::after {
  content: '*';
  color: #ff1f1f;
  padding-left: 5px;
  font-size: 18px;
}
.wp{
  width: 20px;
  margin-right: 10px;
  margin-bottom: 2px;
}
.logo{
  height: auto;
  box-sizing: border-box;
  padding: 10px 0px;
  margin-bottom: 10px;
  &-container{
    flex: 0 0 30%;
    align-self: center;
  }
  &__info{
    font-size: 12px;
    color: #6d6d6d;
    padding-top: 5px;
    margin-right: 48px;
  }

}
.home-grid{
  margin-top: 50px;
  &__title{
    margin: 0;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  &__info{
    padding: 0 20px;
    p{
      text-align: left;
      margin: 0;
    }
  }
}
.success-iconed{
  li{
    display: flex;
    align-items: center;
    span{ flex: 1;}
  }
  li::before{
    content: '';
    display: block;
    flex: 0 0 13px;
    width: 20px;
    height: 28px;
    background-image: asset-url('checked.png');
    background-size: 97% auto;
    background-repeat: no-repeat;
    background-position: top center;
    margin-right: 15px;
  }
}
.date{
  font-size: 12px;
  font-weight: 200;
  color: grey;
  padding-left: 20px;
}
.footer{
  padding-top: 30px;
  &__inner{
    padding: 30px 0;
  }
  .uk-list{
    margin-bottom: 0;
  }
}
.part-page {
  padding: 50px 0;
  .part{
    border-radius: 0;
  }
  table{
    margin-left: 50px;
  }
  img{
    max-width: 250px!important;
  }
  td {
    text-align: left;
  }
}
.new-pre{
  font-family: inherit;
  font-weight: 200;
  white-space: pre-wrap;
  line-break: normal!important;
  word-break: break-word;
  line-height: 1.5;
}
.commentaries{
  margin-top: 20px;
}
.comment{
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  a{
    font-size: 10px;
  }
  &-title{
    font-weight: 100;
    font-size: 13px;
    margin: 0;
    padding: 0 20px;
  }
  &-body{
    padding: 10px 20px;
    background: #fff;
    margin: 5px 0;
    border-radius: 13px;
    box-shadow: 0 2px 5px rgba(0,0,0,.03);
  }
  &-body p{
    margin: 5px 0;
  }
  &-published{
    display: block;
    padding: 4px 15px;
    font-size: 10px;
    text-align: right;
    color: #a7a7a7;
    font-family: inherit;
  }
}
h1,h2,h3,h4,h5,h6{ font-family: inherit!important;}
.circle{
  font-size: 15px;
  width: 65px;
  flex: 0 0 65px;
  text-align: center;
  height: 65px;
  line-height: 65px;
  background: #565150;
  font-weight: 300;
  color: #fff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.05);
}
.home-grid__titlez{
  font-size: 13px;
  text-align: left;
  font-weight: 300;
  margin: 0;
  color: #424242;
  padding-right: 29px;
}
.steps{
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), asset-url('warehouse.jpg')!important;
  background-size: cover!important;
  background-position-x: center!important;
  padding-bottom: 40px;
  padding-top: 20px;
  margin-bottom: -40px!important;
}
.manufacturer{ padding: 0 5px!important; margin: 5px 0!important; }
.manufacturer img{
  width: 65px;
}
