.mobile-header{
    display: none;
}
@media only screen and (max-width: 980px){
    .mobile-header{
        display: block;
    }
    .header-nav{
        display: none;
    }
    .parts-search{
        display: none;}
    .parts-search[mobile]{
        display: block;}
    .advanced-search[new]{
        display: none;}
    .footer__inner{
        padding: 20px;
    }
    .admin-wrapper{
        display: block;
    }
    .home-paragraph{ columns: 1!important;}
    .header-static .container{
        display: block;
        padding: 20px;
    }
    .header-static{
        text-align: center;
    }
    .header__contacts{
        text-align: center;
        padding: 10px;
    }
    .header__adress p{
        text-align: center;
        padding: 10px 10px 20px;
    }
}
@media only screen and (max-width: 600px){
    .part{
        display: block!important;
    }
    .part__image--wrapper{
        text-align: center;
        padding: 20px;
    }
    .part__image--wrapper img{
        max-width: 100%!important;
        margin: 0!important;
    }
    td{
        word-break: break-word;
    }
    .part .uk-card-body{
        display: block!important;
    }
}