.padding-40{
  padding: 40px!important;
}
.text-center{
  text-align: center!important;
}
.width-25{
  width: 25px!important;
}
.color-red{
  color: red!important;
}
.home-padding{
  padding: 0px 40px!important;
  padding-bottom: 40px!important;
}
.home-grid{
  margin: 0;
  border-radius: 100px;
  padding-bottom: 20px!important;
}
.flex-center{
  align-items: center; align-items: center;padding: 0 10px;align-self: center;
}
.height-80{
  height: 80px!important;
}
.new-ul{
  align-items: center; padding: 20px;
}
.margin-top-20{
  margin-top: 20px!important;
}
.padding-10{
  padding: 10px;
}
.vertical-center{
  align-items: center;
}
.news-button{
  width: 100%; display: block;
}
.margin-left-0{
  margin-left: 0;
}
.padding-0{
  padding: 0!important;
}
.part-h1{
  text-align: left; padding-left: 50px;
}
.width-100{
  width: 100%!important;
}
.padding-40-0{
  padding: 40px 0;
}
.block{
  display: block;
}
.margin-10-0{
  margin: 10px 0;
}
.columns-4{
  columns: 4;
}
.padding-left-20{
  padding-left: 20px;
}
.eas{
  padding-top: 25px!important;
  margin-top: 25px!important;
}
.easd{
  margin-top: 15px!important;
  pre{
    margin-top: 0;
    text-align: left;
  }
}

.flex-start{
  align-items: flex-start!important;
}
.no-border{
  border: none!important;
}